table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  th{
      color:gray;
  }
  td{
     
      font-weight: 400;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .status_container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:70px ;
  }
  .btn_update{
    background-color: rgb(19, 72, 107);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 2px;
  }

  .btn_update:hover{
    background-color: rgb(30, 89, 128);
  }

  .update_input {
    background-color: rgb(237, 239, 241);
    padding: 5px;
    width: 100%;
}
.placed{
    background-color: #FEF2F2;
}
.on_the_way {
  background-color:  
  #FFFBEB;
}  
.delivered {
  background-color:
  #D1FAE5;
}
.cancelled {
  background-color: #F87171;
}
.ordered_prod_container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  /* width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    /* justify-items: center; */
    /* margin: 10px 0; */
    /* margin-top: 2rem;  */
}
.ordered_prod{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */
  background-color: rgb(245, 243, 240);
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin-top: 5px;
}
.btnReview{
  background-color: #36E325;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 2px;
  text-align: center;
  width: 100%;
}
.review-textarea{
  background-color: rgb(237, 239, 241);
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  box-shadow: rgb(19, 72, 107) 0px 1px 4px;
  border-radius: 5px;
  height: 70px;
  resize: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
  margin-bottom: 5px;
}
.review-n12345{
  background-color: rgb(237, 239, 241);
  padding: 5px;
  border-radius: 5px;
  
  
  
}




  @media only screen and (max-width: 780px) {
    .status_container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 100%;
        margin:2px;
        margin-left: auto;
        margin-right: auto;
        margin-top:10px ;
      }

      .btn_update{
          margin-bottom: 4px;
      }
      .ordered_prod{
        width: 100%;
      }
    
  }